version: "3"
services:
  skeji-app:
    container_name: skeji-app
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      DB_HOST: host.docker.internal
      DB_USER: henry
      DB_PASS: password
    ports:
      - "4000:4000"
  # postgres:
  #   container_name: postgres
  #   image: postgres:14.1
  #   ports:
  #     - "5432:5432"
  #   volumes: 
  #     - ./postgresdata:/var/lib/postgresql/data
  #     - ./src/migrations/dbinit.sql:/docker-entrypoint-initdb.d/dbinit.sql
  #   restart: always
  #   environment:
  #     POSTGRES_USER: henry
  #     POSTGRES_PASSWORD: password
  #     POSTGRES_DB: appointmentsDB
  # pgadmin:
  #   container_name: pgadmin
  #   image: dpage/pgadmin4:4.18
  #   restart: always
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: admin@linuxhint.com
  #     PGADMIN_DEFAULT_PASSWORD: secret
  #     PGADMIN_LISTEN_PORT: 80
  #   ports:
  #     - "8080:80"
  #   volumes:
  #     - pgadmin-data:/var/lib/pgadmin
  #   depends_on:
  #     - postgres